# Query
/src/common/arrow/         @getbigbytes/bigbytesdb-query-reviewer
/src/common/hashtable/     @getbigbytes/bigbytesdb-query-reviewer
/src/common/io/            @getbigbytes/bigbytesdb-query-reviewer
/src/query/datablocks/     @getbigbytes/bigbytesdb-query-reviewer
/src/query/datavalues/     @getbigbytes/bigbytesdb-query-reviewer
/src/query/functions/      @getbigbytes/bigbytesdb-query-reviewer
/src/query/management/     @getbigbytes/bigbytesdb-query-reviewer
/src/query/streams/        @getbigbytes/bigbytesdb-query-reviewer

# Executor
/src/common/base/                  @getbigbytes/bigbytesdb-executor-reviewer
/src/common/exception/             @getbigbytes/bigbytesdb-executor-reviewer
/src/query/planners/               @getbigbytes/bigbytesdb-executor-reviewer
/src/query/service/src/clusters/   @getbigbytes/bigbytesdb-executor-reviewer
/src/query/service/src/pipelines/  @getbigbytes/bigbytesdb-executor-reviewer
/src/query/service/src/api/rpc/    @getbigbytes/bigbytesdb-executor-reviewer

# Planner
/src/query/ast/                       @getbigbytes/bigbytesdb-planner-reviewer
/src/query/service/src/optimizers/    @getbigbytes/bigbytesdb-planner-reviewer

# MetaSrv
/src/common/grpc/         @getbigbytes/bigbytesdb-meta-reviewer
/src/meta/                @getbigbytes/bigbytesdb-meta-reviewer
/src/meta/protos/proto    @drmingdrmer

# Storage
/src/common/cache/                 @getbigbytes/bigbytesdb-storage-reviewer
/src/common/contexts/              @getbigbytes/bigbytesdb-storage-reviewer
/src/common/storage/               @getbigbytes/bigbytesdb-storage-reviewer
/src/query/catalog/                @getbigbytes/bigbytesdb-storage-reviewer
/src/query/storages/               @getbigbytes/bigbytesdb-storage-reviewer
/src/query/service/src/catalogs/   @getbigbytes/bigbytesdb-storage-reviewer
/src/query/service/src/storages/   @getbigbytes/bigbytesdb-storage-reviewer


# API and handler
/src/common/http/                  @getbigbytes/bigbytesdb-api-reviewer
/src/query/service/src/servers/    @getbigbytes/bigbytesdb-api-reviewer

# Tool
/docker/               @getbigbytes/bigbytesdb-tool-reviewer
/scripts/              @getbigbytes/bigbytesdb-tool-reviewer
/.github/              @getbigbytes/bigbytesdb-tool-reviewer
